.home {
  background: #fff;
  padding: 16px;
  height: 100%;

  .title {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 16px;
    color: #3C4D5F;
  }
}
